aiohttp
amqp
asgiref
canonicaljson
celery
contextlib2
cryptography
Django==4.0.4
django-allauth
django-celery-results
django-polymorphic
django-sortedm2m
GitPython
psycopg2-binary
pytz
pyzmq
PyYAML
requests
tzdata
whitenoise
zmq

