{% extends "conductor/base.html" %}

{% block styleheader %}
.panel {
  cursor: pointer;
}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h2>Name: {{ project.name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h3>Recent Builds:</h3>
            <div class="row container-border">
                <div class="col-md-4">
                    <strong>Commit ID</strong>
                </div>
                <div class="col-md-4">
                    <strong>LmP Commit ID</strong>
                </div>
                <div class="col-md-2">
                    <strong>Build URL</strong>
                </div>
                <div class="col-md-1">
                    <strong>Tests scheduled</strong>
                </div>
                <div class="col-md-1">
                    <strong>Results</strong>
                </div>
            </div>

            {% for build in project.build_set.all|dictsortreversed:"id"|slice:":10" %}
            <div class="row container-border">
                <div class="col-md-4">
                    {% if build.commit_id != None %}
                    <a href="{{ build.get_commit_url }}">{{ build.commit_id }}</a>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    {% if build.get_lmp_commit_url != "" %}
                    <a href="{{ build.get_lmp_commit_url }}">{{ build.lmp_commit }}</a>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    <a href="{{ build.url }}">{{ build.build_id }}</a><br/>
                </div>
                <div class="col-md-1">
                    {% if build.schedule_tests and not build.skip_qa %}
                    <span class="badge alert-success"><span class="glyphicon glyphicon-ok"></span></span>
                    {% else %}
                    <span class="badge alert-danger"><span class="glyphicon glyphicon-remove"></span></span>
                    {% endif %}
                </div>
                <div class="col-md-1">
                    {% if build.schedule_tests and not build.skip_qa %}
                    <a href="{{ build.get_qa_reports_url}}">Results</a><br/>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h3>Recent CI Builds:</h3>
            {% for build in api_builds.builds %}
                    {% if build.status == "RUNNING" %}
            <div class="row container-border bg-primary">
                <div class="col-md-2">
                        <span class="label label-primary">
                    {% elif build.status == "FAILED" %}
            <div class="row container-border bg-danger">
                <div class="col-md-2">
                        <span class="label label-danger">
                    {% elif build.status == "PASSED" %}
            <div class="row container-border bg-success">
                <div class="col-md-2">
                        <span class="label label-success">
                    {% else %}
            <div class="row container-border bg-info">
                <div class="col-md-2">
                        <span class="label label-info">
                    {% endif %}
                    {{ build.status }}</span>
                </div>
                <div class="col-md-5">
                    <a href="{{ build.web_url }}">{{ build.web_url }}</a>
                </div>
                <div class="col-md-2">
                    {{ build.trigger_name }}
                </div>
                <div class="col-md-3">
                    {% if build.trigger_name == "Code Review" %}
                        <a class="btn btn-xs btn-success" href="{% url 'projectstartqa' project_id=project.id ci_id=build.build_id %}">Start QA run</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <a href="{{ project.lava_url }}">{{ project.lava_url }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h3>Test plan</h3>
            {% for testplan in project.testplans.all %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" data-toggle="collapse" data-target="#tp{{ testplan.id }}">
                        {{ testplan.name }}
                        </h4>
                    </div>
                    <div id="tp{{ testplan.id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row container-border">
                                <div class="col-md-8">
                                    <strong>Name</strong>
                                </div>
                                <div class="col-md-2">
                                    <strong>OTA job</strong>
                                </div>
                                <div class="col-md-2">
                                    <strong>EL2GO job</strong>
                                </div>
                            </div>
                            {% for testjob in testplan.testjobs.all %}
                            <div class="row container-border">
                                <div class="col-md-8">
                                    {{ testjob.name }}
                                </div>
                                <div class="col-md-2">
                                    {% if testjob.is_ota_job %}
                                    <span class="badge alert-success"><span class="glyphicon glyphicon-ok"></span></span>
                                    {% else %}
                                    <span class="badge alert-danger"><span class="glyphicon glyphicon-remove"></span></span>
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    {% if testjob.is_el2go_job %}
                                    <span class="badge alert-success"><span class="glyphicon glyphicon-ok"></span></span>
                                    {% else %}
                                    <span class="badge alert-danger"><span class="glyphicon glyphicon-remove"></span></span>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h3>Device Types:</h3>
            {% for devtype in project.lavadevicetype_set.all %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" data-toggle="collapse" data-target="#dt{{ devicetype.id }}">
                        {{ devtype.name }}
                        </h4>
                    </div>
                    <div id="dt{{ devicetype.id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <pre>
                           {{ devtype.device_type_settings }}
                           </pre>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h3>Devices:</h3>
            {% for device in project.lavadevice_set.all %}
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" data-toggle="collapse" data-target="#dev{{ device.id }}">
                        {{ device.name }}
                        </h4>
                    </div>
                    <div id="dev{{ device.id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p><strong>Type: </strong>{{ device.device_type.name }}</p>
                            <p><strong>Auto register name: </strong>{{ device.auto_register_name }}</p>
                            <p><strong>EL2GO 12NC: </strong>{{ device.project.el2go_product_id }}</p>
                            <p><strong>EL2GO ID: </strong>{{ device.el2go_name }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
